.page {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.menu button {
  height: 32px;
  width: 132px;
}

.usernameForm {
  margin-bottom: 80px;
}