.page {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    row-gap: 8px;
}